@use "../abstracts/mixins" as a;

#searchResults {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0,0,0,0.8);
  padding: 3rem;
  overflow-y: auto;
  display: none;

  .fashion-slide-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 kart yan-yana
    gap: 2rem;
    max-width: 1000px;
    margin: 17rem auto 0; // horizontal mərkəz
    justify-items: center;
  }

  .fashion-slide {
    width: 100%;
    max-width: 300px;
    height: 15rem;
    transition: transform 0.3s ease;
  }

  .fashion-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: var(--radius-md);
    transition: transform 0.3s ease;
  }

  .fashion-slide:hover img {
    transform: scale(1.05);
  }

  @include a.respond(xxs) {
    .fashion-slide-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .fashion-slide {
      height: 10rem;
    }
  }

  @include a.respond(xxxs) {
    .fashion-slide__img {
      height: 7rem;
    }
  }
}